
*{
    margin: 0;
    padding: 0;
}



.nav-testa{
    display: flex;
    height: 50px;
    background-color: #255ee9;
    justify-content: center;
}

.little-cont{
    height: 40px;
    width: 920px;
    align-self: center;
    display: flex;
    flex-shrink: 0;
}

.tit2 ul{
    display: flex;
    list-style: none;
    column-gap: 1rem; 
}

a{
    color: white;
    margin: 0 10px;
}

.tit1 , .tit3{
    flex-grow: 1;
}

.tit2{
    flex-grow: 2;
    display: flex;
    align-items: center;
    isplay: flex;
    justify-content: center;    
}

.tit3{
    align-self: center;
    display: flex;
    justify-content: flex-end;
}

.test{
    text-align: center;
}

.sect1 {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 400px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
}

.box1{
    height: 120px;
    width: 460px;
    flex-shrink: 0;
    align-self: center;
    text-align: center;
}

.box1 span {
    border: 2px solid black;
    border-radius: 20%;
    padding: 2px;
}

.hh {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 40px;
}

.pp{
    margin-bottom: 10px;
}

.bb{
    color: black;
    background-color: white;
}
.aa{
    background-color: black;
    color: white;
}

.sect2 {
    padding: 40px 0;
    display: flex;
    justify-content: center;
}
.box9{

    width: 920px;
    display: flex;
}

.flex-b-50 {
    flex-basis: 50%;
}

.sect2-box9 {
    display: flex;
    padding-top: 38px;
}

.par{
    padding-top: 20px;
}

.sect3 {
    display: flex;
    justify-content: center;
}

.box3{
    width: 920px;
    flex-shrink: 0;
    align-self: center;
    display: flex;
}

.sect1-box3 {
    flex-grow: 1;
    padding-top: 38px;
}

.sect4 {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 920px;
    margin: 0 auto 40px;

}

.part1 h3{
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}

.stelle{
    height: 50px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 20px;
}

.part3 h3{
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}

.cc{
    border: 1px solid blue;
    background-color: blue;
    color: white;
    margin-left: 100px;
    margin-bottom: 40px;
}

.sect5{
    background-color: black;
    color: wheat;
}

.sect5-1{
    width: 920px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}    

.sect5-1 div{
    margin-right: 15px;
}

.col2 ul ,.col3 ul ,.col4 ul ,.col5 ul {
    display: flex;
    list-style: none;
    column-gap: 1rem; 
    flex-direction: column;

}








































footer{
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.box6{
    height: 80%;
    width: 920px;
    flex-shrink: 0;
    background-color: aqua;
    display: flex;  
    justify-content: space-between; 
}

.box6 span{

    border: 2px solid black;
    width: 65px;
    padding-left: 10px;
}

.sp1 , .sp2{
    align-self: center;
}










